@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%; /*10px/16px*/
    --font-default: 'Montserrat';
    --font-heading: 'Poppins';
    --color-default: #fff;
    --color-secondary: #000;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../images/lars-kienle-IlxX7xnbRF8-unsplash.jpg');
    background-size: cover;
    z-index: -1;
  }

header{              /* O header ocupará toda a página inicial, dando origem a barra de rolagem */
    display: flex;          /* flexbox */
    flex-direction: column;
    align-items: flex-start;
    height: 100vh;
    padding: 21rem 11rem;
    position: relative;
}
header h1,
header span {
    color: var(--color-default);
}

header h2 {
    color: var(--color-secondary);
}

h1,h2,h3{
    font-weight: 900;
    font-family: var(--font-heading);
}

h1{
    font-size: 3.75rem;
}

h2{
    font-size: 4.4rem;
    color: var(--color-secundary);
}

h3{
    color: #C31432;
}
p{
    font-size: 3rem;
    font-family: var(--color-default);
    color: var(--color-secundary);
}

span{
    font-family: var(--font-default);
    font-size: 4.5rem;
}
img{
    height: 20%;
    width: 20%;
}

section{
    padding-top: 2rem;
    display: flex;
    padding-left: 3rem;
    padding-right: 3rem;
}



.botao{
    padding: 1.4rem 11rem;
    background: linear-gradient(90deg, #C31432 0%, #240B36 100%);
    border-radius: 1rem;
    margin-top: 1rem;
    font-family: var(--font-default);
    font-style: normal;
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 4.8rem;
    /* identical to box height */
    text-decoration: none;


    color: var(--color-default);

    text-shadow: 0 2rem 4rem var(--color-secondary);
}

.botao2{
    padding: 0.4rem 10rem;
    background: linear-gradient(90deg, #C31432 0%, #240B36 100%);
    border-radius: 1rem;

    font-family: var(--font-default);
    font-style: normal;
    font-weight: 400;
    font-size: 2.2rem;
    line-height: 4.8rem;
    /* identical to box height */
    text-decoration: none;


    color: var(--color-default);

    text-shadow: 0 2rem 4rem var(--color-secondary);
}


.avatar{
    border-radius: 50%;
    margin-left: 8.6rem;
}

#texto-apresentacao{
    padding-left: 22rem;
    padding-right: 20rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
}

#secao-projeto ul{
    display: flex;
    gap: 3rem;
    justify-items: space-around;
    list-style: none;   
}

#secao-projeto li{
    position: relative;
}

.card:hover .card-image {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    transform: rotate(3deg);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
  .card:hover .card-info {
    transform: translateY(-20px);
    transition: transform 0.3s ease-in-out;
  }

/*
  .card{
    transform: scale(0.8);
    transition: transform 0.3s ease-in-out;
}

.card:hover{
    transform: scale(1);
}
*/
/*
.card{
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.card:hover{
    opacity: 1;
}
*/
  

.card-image img {
    height: 400px;
    width: 100%;
    border-radius: 10px;
    filter: brightness(50%);
}

.card-info{
    position: absolute;
    color: var(--color-default);
    top: 2rem;
    font-size: 2.2rem;
    left: 2rem;
}

.botao:hover {
  opacity: 0.8;
  transition: opacity 0.3s ease-in-out;
}

.botao2:hover {
    opacity: 0.8;
    transition: opacity 0.3s ease-in-out;
  }

.avatar:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
  }

  #secao-orcamento{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #240B36;
    font-weight: 500;
    font-family: var(--font-heading);
    font-size: large
  }

  #secao-orcamento form{
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 1rem;
    row-gap: 1rem;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    padding: 4rem;
    align-items: center;
    justify-items: start;
  }
  #secao-orcamento label{
    font-family: var(--font-default);
    font-style: normal;
    font-weight: 400;
    font-size: 2.2rem;
  }
  #secao-orcamento h3{
    position: absolute;
    top: -20%;
    background-color: #000;
  }
  #secao-orcamento output{
    grid-column: 2;
  }

  input[type=number]{
    padding: .5rem;
    background-color: black;
    color: var(--color-default);
    border: none;
    border-radius: .5rem;
  }